@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Inter:wght@300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400;500&family=Ruda:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 85%;
  margin: 0 auto;
}

#header {
  background: #1E2024;
  min-height: 90%;
}
#header .header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 10px;
}
#header .header--block--link {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #9099A3;
  padding: 0 40px;
  transition: 0.4s;
}
#header .header--block--link:hover {
  transform: scale(1.1);
  color: blue;
}
#header .header--global {
  padding-right: 50px;
}
#header .header--global--btn {
  width: 100px;
  height: 40px;
  background: #1A5CFF;
  box-shadow: 0 8px 20px rgba(26, 92, 255, 0.2);
  border-radius: 15px;
  font-weight: 900;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  margin-left: 30px;
  transition: 0.4s;
  border: none;
}
#header .header--global--btn:hover {
  transform: scale(1.1);
  background: transparent;
  border: 2px solid rgba(74, 0, 147, 0.93);
}

#hero {
  background: url("/img/bg.svg") no-repeat center/cover;
  min-height: 100vh;
}
#hero .hero--first {
  display: flex;
  padding: 20px 20px;
  justify-content: flex-end;
}
#hero .hero--first__h1 {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
#hero .hero--first__p {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #2C3E50;
}
#hero .hero--first__icon {
  color: black;
}
#hero .hero--title {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #FFFFFF;
  margin-left: -93px;
  margin-top: 227px;
  margin-bottom: 60px;
}
#hero .hero--block {
  width: 103%;
  height: 160px;
  background: #FFFFFF;
  border-radius: 15px;
}
#hero .hero--block__in {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 160px;
}
#hero .hero--block__in--1 {
  margin: 19px 48px 13px;
}
#hero .hero--block__in--1--img {
  width: 37%;
  margin-left: 12px;
}
#hero .hero--block__in--1--h11 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2C3E50;
  margin-bottom: 10px;
}
#hero .hero--block__in--1--p1 {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #2C3E50;
}
#hero .hero--block__in--1m {
  margin: 19px 48px 13px;
}
#hero .hero--block__in--1m__img {
  width: 47%;
  margin-left: 36px;
}
#hero .hero--block__in--1m__h11 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2C3E50;
  margin-bottom: 10px;
}
#hero .hero--block__in--1m__p1 {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #2C3E50;
  margin-left: 33px;
}
#hero .hero--block__in--1v {
  margin: 19px 48px 13px;
}
#hero .hero--block__in--1v__img {
  width: 83%;
  margin-left: 2px;
}
#hero .hero--block__in--1v__h11 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2C3E50;
  margin-bottom: 10px;
}
#hero .hero--block__in--1v__p1 {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #2C3E50;
}
#hero .hero--block__in--1w {
  margin: 19px 48px 13px;
}
#hero .hero--block__in--1w__img {
  width: 46%;
  margin-left: 16px;
}
#hero .hero--block__in--1w__h11 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2C3E50;
  margin-bottom: 10px;
}
#hero .hero--block__in--1w__p1 {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #2C3E50;
  margin-left: 40px;
}

#trip .trip {
  display: flex;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
