/* Error: Undefined mixin.
 *    ,
 * 62 |     @include alain();
 *    |     ^^^^^^^^^^^^^^^^
 *    '
 *   style.scss 62:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 62 \2502      @include alain();\d\a    \2502      ^^^^^^^^^^^^^^^^\a    \2575 \a   style.scss 62:5  root stylesheet";
}* {
   margin: 0;
   padding: 0;
 }

a {
  text-decoration: none;
}

.container {
  width: 85%;
  margin: 0 auto;
}

body {
  font-family: sans-serif;
}

#bulok {
  background: #010132;
}
#bulok .bulok {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#bulok .bulok--img__buul {
  width: 430px;
  height: 187px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding-left: 23px;
  padding-top: 21px;
}
#bulok .bulok--img__buul p {
  color: white;
  font-size: 14px;
  margin-left: 216px;
  margin-top: -41px;
}
#bulok .bulok--img__taitl h1 {
  padding-top: 20px;
  color: white;
}
#bulok .bulok--img__taitl button {
  color: white;
  width: 200px;
  height: 40px;
  background: #1A5CFF;
  box-shadow: 0 8px 20px rgba(26, 92, 255, 0.2);
  border-radius: 15px;
  transition: 0.4s;
}
#bulok .bulok--img__taitl p {
  font-size: 14px;
  width: 479px;
  color: white;
  padding: 20px 0;
}
#bulok .bulok--divizt {
  width: 90%;
  height: 380px;
  background: #FFFFFF;
  border-radius: 15px;
  padding: 20px 30px;
  margin-left: 20px;
}
#bulok .bulok--divizt__tal {
  color: #9099A3;
  font-size: 12px;
  margin-left: 20px;
}
#bulok .bulok--divizt__tal h1 {
  color: #2C3E50;
  font-size: 36px;
}
#bulok .bulok--divizt__tal p {
  color: #2C3E50;
  font-size: 16px;
}
#bulok .bulok--divizt__tal img {
  margin-top: -54px;
  margin-left: 117px;
}

#texst {
  background: #010132;
}
#texst .texst {
  padding: 30px 20px;
  color: #FFFFFF;
}
#texst .texst--swaip {
  display: flex;
}
#texst .texst--swaip__tait {
  display: flex;
  width: 90%;
  height: 300px;
  left: 80px;
  top: 0;
  background: rgb(255, 255, 255);
  border-radius: 15px;
}
#texst .texst--swaip__tait--buri1 {
  color: black;
  margin-top: 117px;
}
#texst .texst--swaip__tait--buri {
  color: black;
  margin-top: 48px;
  margin-left: 40px;
}
#texst .texst body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
#texst .texst .swiper {
  width: 100%;
  height: 100%;
}
#texst .texst .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
#texst .texst .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#green {
  background: #010132;
  padding: 60px 0;
}
#green .green {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}
#green .green--grammar--hurt {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  color: #FFFFFF;
}
#green .green--grammar--master {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #9099A3;
}
#green .green--merchant--mistress {
  width: 90%;
  margin-bottom: 30px;
}
#green .green--merchant--mistress--mosque {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9099A3;
}
#green .green--merchant--mistress input {
  width: 616px;
  height: 60px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.99);
  padding: 0 74px;
}
#green .green--merchant--myrtle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#green .green--merchant--myrtle--person {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
#green .green--merchant--myrtle--purple {
  width: 280px;
  height: 60px;
  background: #1A5CFF;
  box-shadow: 0 5px 8px rgba(26, 92, 255, 0.2);
  border-radius: 15px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
}
#green .green--merchant--myrtle--purple:hover {
  border: 2px solid #1A5CFF;
  background: transparent;
  color: #1A5CFF;
}

/*# sourceMappingURL=style.css.map */

